@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 30px; /* Increased margin between title and text */
    }

    p {
        color: #444;
        margin-bottom: 20px;
    }
</style>

<body>
    <div class="text-center">
        <h1 class="display-4">Bem vindo ao Gerenciador de Atividades Complementares (GAC)</h1>
        <p>A presente implementação ainda está incompleta. Sinta-se à vontade para navegar nosso aplicativo utilizando a barra de navegação acima.</p>
    </div>
</body>
